version: '3.3'
services:
  proxy:
    container_name: proxy
    image: wdennington/proxy:latest
    build: ./nginx
    ports:
    - target: 80
      published: 80
  backend:
    container_name: backend
    image: wdennington/backend:latest
    build: ./spring-petclinic-rest-api
    ports:
    - target: 9966
      published: 9966
  frontend:
    container_name: frontend
    image: wdennington/frontend:latest
    build: ./spring-petclinic-angular
    ports:
    - target: 8081
      published: 8081
  database:
    container_name: database
    image: wdennington/database:latest
    build: ./sql
    environment:
      MYSQL_ROOT_PASSWORD: petclinic

  

             